*, *:before, *:after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

:root {
    --color-primary: #507DBC;
    --color-primary-light: #A1C6EA;
    --color-secondary: #BBD1EA;
    --color-secondary-light: #DAE3E5;
}

html,
body {
    width: 100%;
    height: 100%;
}
body {
    box-sizing: border-box;
}

img {
    width: 100%;
}

h1 {
    font-family: "Josefin Slab", sans-serif;
    font-size: 48px;
    color: var(--color-primary);
}

h2 {
    font-family: "Josefin Slab", sans-serif;
    font-size: 38px;
    color: var(--color-primary);
}
h3 {
    font-family: "Josefin Sans", sans-serif;
    font-size: 22px;
    color: var(--color-primary);
}

p {
    color: var(--color-primary-light);
    font-size: 18px;
}

.selected {
    color: var(--color-secondary);
    font-weight: bolder;
}

a {
    text-decoration: none;
    color: var(--color-primary);
}

ul {
    list-style: none;
}

header {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: var(--color-secondary);
    padding: 4px;
    height: 90px;
}

header > img {
    height: 80px;
    width: 80px;
}

a {
    text-decoration: none;
}

.navigation__checkbox {
    display: none;
}

.navigation__button{
    background-color: transparent;
    color: #A3B0D7;
    height: 60px;
    width: 60px;
    text-align: center;
    cursor: pointer;
}

.navigation__icon {
    margin-top: 35px;
    position: relative;
}

.navigation__icon,
.navigation__icon::before,
.navigation__icon::after {
    width: 30px;
    height: 2px;
    background-color: #435EC2;
    display: inline-block;
}

.navigation__icon::before,
.navigation__icon::after {
    content: "";
    position: absolute;
    left: 0;
    transition: all 0.2s;
}
.navigation__icon::before {
    top: -8px;
}
.navigation__icon::after {
    top: 8px;
}
.navigation__button:hover .navigation__icon::before {
    top: -10px;
}
.navigation__button:hover .navigation__icon::after {
    top: 10px;
}

.navigation__checkbox:checked + .navigation__button .navigation__icon {
    background-color: transparent;
}

.navigation__checkbox:checked + .navigation__button .navigation__icon::before  {
    top: 0;
    transform: rotate(135deg);
}

.navigation__checkbox:checked + .navigation__button .navigation__icon::after  {
    top: 0;
    transform: rotate(-135deg);
}

.menuClose {
    display: none;
}

.hero-image-section {
    position: relative;
    margin-top: 10px;
}

.hero-image-section button {
    border: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--color-primary);
    color: var(--color-secondary);
    padding: 12px;
    border-radius: 20px;
}

footer {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
    background-color: var(--color-secondary);
    padding: 4px;
}

footer div:nth-child(2) {
    align-self: flex-start;
}

footer div a img {
    height: 36px;
    width: 36px;
    margin-left: 38px;
}

footer > div > p {
    color: white;
}

#forecast {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    background-color: var(--color-primary);
    margin-top: 10px;
    padding-top: 8px;
    padding-bottom: 8px;
}

#weather {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    background-color: var(--color-primary);
    margin-top: 10px;
    padding-top: 8px;
    padding-bottom: 8px;
}

figure {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

legend {
    padding: 4px;
}

.rental-general-info {
    margin-top: 10px;
    padding: 8px;
}

#rentals > div {
    margin: 12px 8px;
    padding: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--color-secondary);
}

#rentals > div > div > a {
    background: white;
    padding: 8px;
    border-radius: 6px;
    margin-top: 4px;
}

.reservation-form {
    display: flex;
    flex-direction: column;
    margin: 8px;
    background-color: var(--color-secondary);
    padding: 12px;
}

.reservation-form > fieldset  {
    display: flex;
    flex-direction: column;
    padding: 12px;
}

.reservation-form > fieldset > label {
    margin-right: 12px;
}

.formTitle {
    color: black;
}

.radio-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 8px 0;
}

.submitButton {
    margin: 12px 0;
    padding: 12px;
}

.tours {
    margin: 12px;
}

.tour-card {
    display: flex;
    flex-direction: column;
    background-color: var(--color-primary);
    margin: 8px 0;
}

.tour-card > div:last-child {
    padding: 12px;
}

.contact-container {
    margin: 12px;
    padding: 8px;
}

.contact-form {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
}
.contact-form > label {
    display: flex;
    margin-right: 8px;
}
.contact-form > button {
    margin: 8px 0;
}

.maps-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

@media (min-width: 768px) {
    h1 {
        font-size: 42px;
    }

    span {
        font-size: 18px;
    }

    .catchPhrase {
        display: inline;
    }
    .navigation__button {
        display: none;
    }
    .menuClose {
        display: block;
    }
    ul {
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: space-evenly;
        padding: 12px;
    }
    #rentals > div {
        flex-direction: row;
        justify-content: flex-start;
        align-items: flex-start;
    }
    #rentals > div > div:last-child {
        align-self: center;
    }
    #rentals > div > div:last-child {
        margin-left: 30px;
    }
    #rentals > div > div:last-child > div:first-child {
        margin-bottom: 30px;
    }
    .tour-card {
        flex-direction: row-reverse;
    }
    .tour-card:nth-child(odd) {
        flex-direction: row;
    }
    .tour-card > div {
        width: 50%;
    }
}
