@media (min-width: 1024px) {
    h1 {
        font-size: 52px;
    }

    span {
        font-size: 24px;
    }
    #townsSection {
        grid-template-columns: 1fr 1fr 1fr;
        height: 100%;
    }
    #townsSection > div {
        flex-direction: column !important;
    }
}